
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/SourceSansPro/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: url("/static/fonts/SourceSansPro/SourceSansPro-Bold.ttf");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: url("/static/fonts/SourceSansPro/SourceSansPro-SemiBold.ttf");
}
