@import "../styles/fonts.scss";
@import "../styles/index.scss";

// Global variables
$sidebar-width: 256px;

.layout:global(.ant-layout) {
  min-height: 100vh !important;
}

.siderLeft {
  position: fixed !important;
  height: 100vh;
  border-right: 1px solid $border-color;
  z-index: 1;
}

.fakeSider {
  height: 100vh;
  z-index: 0;
}

:global(.ant-layout-sider-trigger) {
  margin-left: -1px;
}

.layoutRight {
}

.header {
  background-color: #ffffff !important;
}

.content {
  padding: 30px;
}
